body {
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 991.98px) {
    #menu-bar {
        margin-left: 52rem;
    }

    .about p {
        font-size: 20px;
    }

    .user .card {
        margin: 0 7px;
        padding: 0;
    }

    .change h1 {
        font-size: 2rem;
    }

    .change img {
        padding-top: 6rem;
    }

    .quote {
        padding: 7vmin !important;
    }

    .slideshow-container {
        height: 30vmin;
        border-radius: 25%;
    }

    .slideshow-container p {
        font-size: 16px;
        justify-content: center;
        padding-bottom: 6px;
    }

    .mySlides {
        padding: 50px !important;
    }

    .tech h1 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 768px) {
    #menu-bar {
        margin-left: 40rem;
    }

    .smart {
        margin-left: 9vmin;
    }

    .btn {
        margin: 5px;
    }

    .nav-link {
        font-size: 14px;
    }

    .smart h1 {
        font-size: 3rem;
    }

    .smart p {
        font-size: 16px;
    }

    .user .card-deck {

        display: flex;
        flex-direction: column;
        margin-left: 2rem;

    }

    .user .card {
        display: flex;
        width: 90%;
        margin: 12px;
    }

    .user .card-body h5 {
        font-size: 26px;
    }

    .user .card-body p {
        font-size: 20px;
    }

    .change h1 {
        font-size: 1.2rem;

    }

    .change img {
        width: 250px;
        padding-top: 4rem;
    }

    .change p {
        font-size: 14px;

    }

    .section-3 img {
        width: 100%;
        height: auto;
    }

    .tech h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 576px) {
    #menu-bar {
        margin-left: 28rem;
    }

    .nav-link {
        font-size: 12px;
    }

    .smart h1 {
        font-size: 1.8rem;
    }

    .smart {
        margin-left: 8vmin;
    }

    .btn {
        margin: 5px;
    }

    .about h1 {
        font-size: 3.5rem;
    }

    .user .card-deck {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .user .card {
        margin: 12px;
    }

    .user .card-body h5 {
        font-size: 1.5rem;
    }

    .change {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .change h1 {
        font-size: 1.8rem;
    }

    .change p {
        font-size: 20px;
    }

    .change img {
        margin-right: 10vmin !important;
    }

    .section-3 .workout h1 {
        font-size: 3rem;
    }

    .tech h1 {
        font-size: 2.8rem;
    }

    .section-5 {
        height: 70vmin;
    }

    footer {
        height: 40vmin;
    }
}


@media screen and (max-width: 414px) {
    #menu-bar {
        margin-left: 17rem;
    }

    .nav-link {
        font-size: 12px;
    }

    .smart {
        margin-left: 0.8vmin;
    }

    .smart h1 {
        font-size: 1.4rem;
    }

    .about h1 {
        font-size: 2rem;
    }

    .about p {
        font-size: 16px;
    }

    .user .card-deck {
        display: flex;
        flex-direction: column;
    }

    .user .card {
        margin: 12px;
    }

    .user .card-body h5 {
        font-size: 1.5rem;
    }

    .change {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .change img {
        padding-right: 60%;

    }

    .change h1 {
        font-size: 1.5rem;
    }

    .section-3 .workout h1 {
        font-size: 2rem;
    }

    .section-3 .workout p {
        font-size: 12px;
    }

    .section-3 img {
        width: 100%;

    }

    .slideshow-container {
        width: 100%;
        height: 32vmin;
    }

    .slideshow-container .mySlides p {
        font-size: 12px;
    }

    .mySlides {
        padding: 20px !important;
    }

    .tech h1 {
        font-size: 1.3rem;
    }

    .tech p {
        font-size: 18px;
    }

    .section-5 .reach h1 {
        font-size: 1.8rem;
        padding-bottom: 1.5rem;
    }

    .section-5 .reach p {
        font-size: 16px;
    }

    .section-5 {
        height: 80vmin;
    }

    .reach-btn {
        padding: 4px;
    }

    .copyright p {
        font-size: 12px;
    }

    footer {
        height: 48vmin;
    }


}